$google-color: #4285F4;

.button{
    min-width: 165px;
    width: auto;
    height: 55px;
    background-color: black;
    border: 2px solid black;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    font-size: bolder;
    text-transform: uppercase;
    padding: 0px;
    font-family: inherit;
    letter-spacing: 0.5px;
    text-align: center;
    &:hover{
        transition: ease-in 0.05s;
        background-color: white;
        color: black;
        border: 2px solid black;
    }

}

.google-button{
    color: white;
    background-color: $google-color;
    border: 2px solid $google-color;
    padding: 0px 15px;
    &:hover{
        transition: ease-in 0.05s;
        color: $google-color;
        border: 2px solid $google-color;
    }
}
.inverted{
    background-color: white;
    color: black;
    border: none;
    &:hover{
        background-color: black;
        color: white;
        border: none
    }
}
