@use 'src/color' as c;

.collection-preview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    width: 100%;
    height: 100%;
  
    .title {
      display:flex;
      align-items: center;
      justify-content: center;
      font-size: 36px;
      text-decoration: none;
      color: white;
      height: 90%;
      font-weight: bold;
      word-spacing: 2px;
      margin-right: auto;
      background-color: rgba(0, 0, 0, 0.897);
      width: fit-content;
      padding: 0% 2%;
      transition: ease-out 0.15s;
      &:hover {
        padding: 0% 3%;
        transition: ease-out 0.15s;
      }
    }
    .preview {
      margin-left: auto;
      padding: 2% 0%;
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }
  }
  