@use 'src/color' as c;

.preview-item {
  min-width: 15vw;
  width: 15vw;
  display: flex;
  flex-direction: column;
  min-height: 15vh;
  height: 40vh;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 20px;
  background-color: rgba(247, 247, 247, 0.925);
  box-shadow: 3px 3px 10px black;
  padding: 3px;
  position: relative;;
  .image {
    width: 95%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    position: relative;
    top: -5%;
    box-shadow: 3px 3px 5px black;
    transition: 0.1s ease-in-out all;
  }

  .cart-icon{
    width: 90%;
    height: 0%;
    opacity: 1;
    transform-origin: center;
    transition: 0.1s ease-in-out all;
    display: flex;
    justify-content: center;
    padding: 0;
    &:hover{
      opacity: 1;
      background-color: rgba(10, 10, 10, 0.288);
    }
  }

  .image-footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    font-size: 1.2vw;
    padding: 3% 2%;

    .name {
      width: 80%;
      color: black;
    }

    .price {
      width: 20%;
      margin-left: auto;
      color: black;
    }
  }
  &:hover{
    .image{
      top: -8%;
      transition: 0.1s ease-in-out all;
    }

    .cart-icon{
      height: 10%;
      transition: 0.2s ease-in-out all;
    }
  }
}
