.cart-dropdown{
    position: absolute;
    top: 112px;
    right: 116px;
    z-index: 5;
    width: 320px;
    min-height: 130px;
    height: fit-content;
    max-height: 50vh;
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 15px;

    .msg{
      height: 100%;
      width: 100%;
      margin-bottom: 20px;
      font-size: 28px;
      text-align: center;
      opacity: 0.5;
    }

    .cart-items{
        display: flex;
        flex-direction: column;
        overflow: scroll;
        overflow-x: hidden;
        height: 100%;
        width: 100%;
        margin-bottom: 20px;
        
        &::-webkit-scrollbar {
            width: 4px;
            height: 10%;
          }
           
          &::-webkit-scrollbar-thumb {
            background-color: rgb(46, 46, 46);
            border-radius: 100px;
            outline: 1px solid rgb(255, 255, 255);
          }
    }

    .button{
        margin-top: auto;
        width: 100%;
    }
}