.header {
  display: flex;
  flex-direction: row;
  height: 120px;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0px 3px 0px;
  .header-text-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 60px;
    .signedIn-container {
      display: flex;
      flex-direction: row;
    }
    .header-text {
      padding: 20px 20px;
      background-color: rgb(255, 255, 255);
      border-radius: 30px;
      margin: 0 7px;
      text-decoration: none;
      color: black;
      cursor: pointer;
      text-transform: uppercase;
      &:hover {
        background-color: rgb(238, 238, 238);
        border-radius: 0px;
        transition: ease-out 0.2s;
      }
    }
    .user {
      color: rgb(0, 131, 218);
      text-transform: none;
      font-size: 17px;
      margin: 0px 0px;
    }
  }
  .logo-container {
    position: relative;
    top: 15%;
    height: 90px;
    width: 90px;
    min-width: 90px;
    padding: 10px 12px;
    margin: 0px 70px;
    background-color: rgb(252, 252, 252);
    border-radius: 50px;
    &:hover {
      background-color: rgb(245, 245, 245);
      transition: ease-in 0.2s;
      border-radius: 0px;
    }
  }
}
