@use 'src/color' as c;

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  align-items: flex-end;
  position: sticky;
  margin-left: auto;
  top: 0%;
  z-index: 5;
  margin-bottom: 10px;
  margin-top: 5vh;
  z-index: 10;
  transition: 0.2s ease-in all;
    &.active{
      transition: 0.2s ease-in all;
    }
  .header-text-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: 0px;
    margin-left: auto;
    z-index: 1;
    color: white;
    background-color: rgba(0, 0, 0, 0.671);
    transition: 0.2s ease-in all;
    &.active{
      width: 40%;
      background-color: black;
      transition: 0.2s ease-in all;
    }
    .signedIn-container {
      display: flex;
      flex-direction: row;
    }
    .header-text {
      padding: 15px 10px;
      text-decoration: none;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-weight: 600;
      color: white;
      &::after{
        content: "";
        transform-origin: left;
        margin-top: 1%;
        height: 2.5px;
        width: 100%;
        transform: scaleX(0);
        z-index: 2;
      }      
      &:hover {
        transition: ease-in-out 0.2s;
        color: c.$light-accent;
        &::after{
          transform: scaleX(1);
          background-color: c.$light-accent;
          transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
        }
        
      }
    }
    .user {
      text-transform: none;
    }
  }
}


