.checkout-item-container{
    display: flex;
    text-align: start;
    flex: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
    .element-container{
        text-align: start;
        width: 12%;
        padding-left: 10px;
        img{
            width: 100%;
        }
        span{
            font-size: 17px;
        }
        .remove-icon{
            cursor: pointer;
            transform: scale(0.8);
        }
    }
}