$background: #454346;
$dark-accent: #914E40;
$light-accent: #ED4E32;
$light-shades: #E2BBA9;
$main: #A87E84;


$background: white;
$dark-accent: rgba(0, 0, 0, 0.445);
$light-accent: rgb(255, 255, 255);
$light-shades: black;
$main: #A87E84;
